body {
    font-family: "Raleway", sans-serif;
    color: white;
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    background-size: 100%;
  }

  .App {
    max-width: 700px;
    margin: 30px auto;
  }
  
  .App footer {
    font-size: 15px;
    margin: 5px 0;
    text-align: center;
  }
  
  h1 {
    font-size: 50px;
    line-height: 50px;
    margin: 20px;
    text-align: center;
    color: #7868e6; 
  }

  
  .temperature {
    color: white;
    font-size: 90px;
    line-height: 1.5;
  }
  
  .units {
    position: relative;
    color: white;
  }

  .WeatherForecastPreview {
    color: white;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
  }
  
  
